.playlist-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 10px;
	width: calc(100% - 40px);
	overflow-y: auto;
	margin-top: 30px;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		width: 80%;
		margin: 0 auto;
		margin-top: 20px;
	}

	@media screen and (max-width: 768px) {
		max-height: calc(100vh - 60px);
		overflow-y: auto;
	}
}

.playlist-item {
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px;
	border-bottom: 1px solid #a1a1a1;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	&.active {
		background-color: #c7c7c7ed;
		box-shadow: inset 0 0 2px #000000;
	}
}

.playlist-item__title {
	flex-grow: 1;
	margin-right: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.playlist-item__delete {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-image: url("../icons/delete.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	flex-shrink: 0;
	margin-left: auto;
}

.playlist-item:last-child {
	border-bottom: none;
}

.playlist-item:hover {
	background-color: #f1f1f1;
}

.playlist-item__title {
	font-size: 18px;
	font-weight: bold;
}

.playlist-item__duration {
	font-size: 17px;
}
